table {
    width: 100vw;
    height: 100vh;
}

.map-wrapper {
    padding: 2rem;
    background-color: var(--background);
}

.info-wrapper {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: var(--info);
}

.info-wrapper a,
.info-wrapper a:visited {
    text-decoration: none;
}

.info-wrapper h1 {
    margin-bottom :1rem;
}

.info-wrapper p {
    line-height: 1.5rem;
}