<table cellspacing="0">
    <tr>
        <td class="map-wrapper" width="75%">
            <app-world-map (sendCountryData)="getCountryData($event)"></app-world-map>
        </td>
        <td class="info-wrapper">
            <div>
                <h1>Map Buddy</h1>
                <div *ngIf="countryData; else intro">
                    <p>
                        <b>Name: </b>
                        {{ countryData.name }}
                    </p>
                    <p>
                        <b>Capital: </b>
                        {{ countryData.capital }}
                    </p>
                    <p>
                        <b>Region: </b>
                        {{ countryData.region }}
                    </p>
                    <p>
                        <b>Income Level: </b>
                        {{ countryData.incomeLevel }}
                    </p>
                    <p>
                        <b>Latitude: </b>
                        {{ countryData.latitude }}
                    </p>
                    <p>
                        <b>Longitude: </b>
                        {{ countryData.longitude }}
                    </p>
                </div>
                <ng-template #intro>
                    <p>Welcome to <b>Map Buddy!</b>
                        Feel free to click on any country located on the map learn about
                        it's capital, region & more!
                    </p>
                </ng-template>
            </div>
            <a href="https://datahelpdesk.worldbank.org/knowledgebase/articles/898581-api-basic-call-structures" target="_blank">
                Map Info From <b>The World Bank</b>
            </a>
        </td>
    </tr>
</table>